.inputan{
    display: block;
    padding: 0px 13vw 1vh 13vw;
    font-size: 15px;
    font-family: "Avanta Garde";
}

.text{
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 3vw;
    font-family: Avanta Garde;
    color: rebeccapurple;
}

.content{
    /* max-height: 50vh;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:auto;}
        
input[type=text],[type=number], [type=email], select {
    width: 100%;
    padding: 10px 8px;
    margin: 1vw 0;
    display: inline-block;
    box-sizing: border-box;
    color:black;
    background-color:lavender;
    border:1px solid black;
}

.inputan input[type="submit"]{
    width: 100%;
    padding: 1vw 0.5vh;
    margin: 1vw 0 0 0;
    display: inline-block;
    box-sizing: border-box;
    color:white;
    background-color:rebeccapurple;
    font-size: 1.2vw;
    font-family: "Avanta Garde";
}
.box{
    padding:2vh 2vw 2vh 2vw;
    background-color: lightgray;
    margin: 10vw 15vw 10vw 15vw;
}

.box2 {
    background-color: white;
    color: black;
    margin: 5vw 5vh 5vh 5vw;
    font-size: 2vw;
    padding: 5vw 5vh 5vw 5vh;
    position: relative;
    align-items: center;
}
input:autofill {
  border: 3px purple;
}